@import "mixins.scss";
* {
  box-sizing: border-box;
}
.row {
  display: flex;
}
$max: 12;
@for $i from 1 through $max {
  .col-lg-#{$i} {
    @include breakpoint(lg) {
      $width: 100%/12;
      width: $width * $i;

      padding: 10px 10px;
      margin: 10px;
      text-align: center;
    }
  }
}

@for $i from 1 through $max {
  .col-md-#{$i} {
    @include breakpoint(md) {
      $width: 100%/12;
      width: $width * $i;

      padding: 10px 10px;
      margin: 10px;
      text-align: center;
    }
  }
}

@for $i from 1 through $max {
  .col-sm-#{$i} {
    @include breakpoint(sm) {
      $width: 100%/12;
      width: $width * $i;

      padding: 10px 10px;
      margin: 10px;
      text-align: center;
    }
  }
}
